.home-container {
    /* background-color: red; */
    margin-top: 6rem;
}

.home-container .intro p {
    font-size: 19px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 20px;
}

/* =================== Generate page style ========================= */
.generate-container input {
    border-radius: 5px;
    outline: 2px solid #00916f;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #c6f3e8;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
    width: 29rem;
    
}

.generate-container input:focus {
    outline-offset: 5px;
    background-color: #fff
}