.home-container {
    /* background-color: red; */
    margin-top: 6rem;
}

.home-container .intro p {
    font-size: 19px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 20px;
}

/* =================== Generate page style ========================= */
.generate-container {
    background: #d9fff647;
    width: 50%;
    justify-self: center;
    padding: 24px 15px;
    border-radius: 10px;
    box-shadow: 12px 12px 12px #c2c2c2;
}

.generate-container input {
    border-radius: 5px;
    outline: 2px solid #00916f;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #c6f3e8;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
    width: 29rem;

}

.generate-container input:focus {
    outline-offset: 5px;
    background-color: #fff
}

.shorturl {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shorturl h2{

    margin-bottom: 9px;
}

.shorturl code {
    background: #c6f3e8;
    padding: 12px 27px;
    border-radius: 8px;
}